{"filter":false,"title":".gitignore","tooltip":"/.gitignore","undoManager":{"mark":1,"position":1,"stack":[[{"start":{"row":26,"column":12},"end":{"row":27,"column":0},"action":"insert","lines":["",""],"id":54}],[{"start":{"row":27,"column":0},"end":{"row":27,"column":13},"action":"insert","lines":["vendor/bundle"],"id":55}]]},"ace":{"folds":[],"scrolltop":60,"scrollleft":0,"selection":{"start":{"row":27,"column":13},"end":{"row":27,"column":13},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":{"row":2,"state":"start","mode":"ace/mode/ini"}},"timestamp":1522490763971,"hash":"44bf5b3a26f037625bf98c005bf46ed08fc7b6b4"}