{"filter":false,"title":".gitignore","tooltip":"/.gitignore","undoManager":{"mark":-1,"position":-1,"stack":[]},"ace":{"folds":[],"scrolltop":160.5,"scrollleft":0,"selection":{"start":{"row":11,"column":21},"end":{"row":11,"column":21},"isBackwards":false},"options":{"guessTabSize":true,"useWrapMode":false,"wrapToView":true},"firstLineState":{"row":9,"state":"start","mode":"ace/mode/ini"}},"timestamp":1510119274874,"hash":"e28e59a2decf85b1effcc39c742a6fc33652897b"}