<h1>About Us</h1>
<p class="about">WealthyHomeowner is a platform that allows you to search market data of million dollar + home sales and its owners occupation.

We're all about transparency. Home affordability is a constant and steady issue for many people and has become increasingly difficult for many people to find great and affordable homes. 

That's where we come in. WealthyHomeowner makes it easy to lookup already-public information on multi-million dollar homes and it's occupants, in an effort foster key social and business relationships. 

It is our vision to offer a platform where there is complete tranparency and accountability regarding realestate inflation. 
</p>