<h1>About Us</h1>
<p class="about">Shindig Space is a platform that allows you to book non-traditional venue spaces. 
Space owners can create, price, and showcase their venue space all on one plateform. We get it! 
We know how difficult it is to find the great and affordable event venue spaces. That's where we come in. 
Shindig Space makes it easier to connect, network, and foster key social and business relationships. 
It is our vision to offer a dynamic platform and great experience to both out venue space host and their guest.
</p>