<style>

@media only screen and (-webkit-min-device-pixel-ratio: .5), only screen and (-moz-min-device-pixel-ratio: 2), 
only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen 
and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx), only screen and (text-align: cneter){
    html, body {
        background-image: url('barber.jpg');
        color: #2c3e50;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: relative;
        border-radius: 0 !important;
        margin-top: 0px auto;
        min-height:100%;
        min-width: 100%;
    }
    
    .about {
        opacity: .8;
        filter: alpha(opacity=60); /* For IE8 and earlier */
        color: #2c3e50;
        padding: 0;
        margin: 0;
        clear: both;
        float: right;
        font-size: 25px;
        text-align: left;
    }
    
    h1 {
        padding-top: 40px; 
        padding-left: 39%; 
        color: #14325C;
        text-shadow: 0px .2px .1px #000;
        font-weight: bold;
        margin-top: 15px;
        margin-left: -39%;
        text-align: justify;
        text-justify: inter-word;
        float: left;
    }

}

</style>

<h1>About Us</h1>
<p class="about">Uppercutzz is a platform that allows you to connect with stylist around the world. Stylist can showcase their 
best work all in one place. We get it! We know how difficult it is to find the great stylist. That's where we come in. Uppercutzz makes
it easier to connect, network, and develop a stronger clientel base while fostering key social and business relationships. It is our vision
to offer a more dynamic platform that provides a wide-range of services.
</p>
