<div class="row">
  <div class="col-md-8 banner">
    <h1><span class="text-blue">Search for Information on a Wealthy Homeowner
    </br></span>simple and easy.</h1>
  </div>

  <div class="col-md-12"><h4>Homes of the "Well-To-Do" Near You</h4></div>
</div>


  <div class="row">
    <div class="col-md-3">
      <%= form_tag search_path, method: :get do %>

      <%= text_field_tag :search, params[:search], placeholder: "Search for a Home", class: "form-control", id: "autolocation" %>
    </div>&nbsp;

    <div class="col-md-2">
      <%= submit_tag "Search", class: "btn btn-form btn-block" %>
    </div>
  </div>

<% end %>

<br>

<!-- HOMES -->
<div class="text-center"><h2>Homes</h2>
  <!--<p>Book a _______ </p>-->
</div>
<br/>

<div class="row">
  <%= render partial: "homes/homes_list", locals: {homes: @homes} %>
</div>

<!-- CITIES -->
<div class="text-center"><h2>Homes in other Cities</h2></div>
<br/>

<div class="row">
  <div class="col-md-3 col-sm-3">
		<a href="https://wealthyhomeowner.herokuapp.com/search?utf8=✓&search=chicago">
			<div class="discovery-card" style="background-image: url('/assets/chicago.jpg')">
				<div class="va-container">
					<div class="va-middle text-center">
						<h2><strong>Chicago</strong></h2>
					</div>
				</div>
			</div>
		</a>
	</div>&nbsp;
  
	<div class="col-md-3 col-sm-3">
		<a href="https://wealthyhomeowner.com/search?utf8=✓&search=atlanta">
			<div class="discovery-card" style="background-image: url('/assets/atlanta.jpg')">
				<div class="va-container">
					<div class="va-middle text-center">
						<h2><strong>Atlanta</strong></h2>
					</div>
				</div>
			</div>
		</a>
	</div>&nbsp;
  
	<div class="col-md-3 col-sm-3">
		<a href="https://wealthyhomeowner.com/search?utf8=✓&search=dallas">
			<div class="discovery-card" style="background-image: url('/assets/dallas.jpg')">
				<div class="va-container">
					<div class="va-middle text-center">
						<h2><strong>Dallas</strong></h2>
					</div>
				</div>
			</div>
		</a>
	</div>&nbsp;

	<div class="col-md-3 col-sm-3">
		<div class="discovery-card" style="border: 1px solid #333">
			<div class="va-container">
				<div class="va-middle text-center" style="color: red;">
					<h4>COMING SOON!</h4>
          <p>While we are super anxious to enter your city, ShindigSpace is focusing on growing the Chicago market before expanding our horizions.</p>
          <p>We hope to see you soon!</p>
				</div>
			</div>
		</div>
	</div>
</div>

<script>
  // $('#start_date').datepicker({
  //   dateFormat: 'mm/dd/yy',
  //   minDate: 0, 
  //   maxDate: '3m',
  //   onSelect: function(selected) {
  //     $('#end_date').datepicker("option", "minDate", selected);
  //     $('#end_date').attr("disabled", false);
  //   }
  // });
  
  // $('#end_date').datepicker({
  //   dateFormat: 'mm/dd/yy',
  //   minDate: 0, 
  //   maxDate: '3m',
  //   onSelect: function(selected) {
  //     $('#start_date').datepicker("option", "maxDate", selected);
  //   }
  // });

  $(function() {
    $("#autolocation").geocomplete();
  })
</script>