<p>Welcome <%= @user.fullname %>!</p>
<br>
<p>Click the link below to confirm your Shindig Space account:</p>
<br>
<p><%= link_to 'Confirm my account', confirmation_url(@resource, confirmation_token: @token) %></p>