<footer>
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-3 col-sm-12 col-sx-12">
        <div class="footer-widget"><h2 class="brand widget-title">Shindig Space</h2>			
		      <p class="footer-tag-line">Venue Space Rentals</p>
          <p>Seach for a venue space for your next dinner party, meeting, repast, class reunion, etc. We make booking a venue space simple and easy!</p>
        </div>
      </div>
      
      <div class="col-lg-3 col-md-3 col-sm-4 col-sx-12">
        <div class="footer-widget">
          <h3 class="widget-title">Address</h3>			
			      <div class="clearfix">
              <ul>
                <li class="clearfix">
                  <i class="fa fa-map-marker pull-left"></i>
                  <p class="pull-left">Chicago, IL</p></li>
                <li class="clearfix">
                  <i class="fa fa-phone pull-left"></i>
                  <p class="pull-left">+1 (773) 727-5654</p></li>
                <li class="clearfix">
                  <i class="fa fa-envelope-o pull-left"></i>
                  <p class="pull-left"><a href="mailto: lawrencemurry@yahoo.com"> info@shindigspace.com</a></p>
                </li>
              </ul>
            </div>
            <!-- .clearfix -->
        </div>
      </div>
      
      <div class="col-lg-3 col-md-3 col-sm-4 col-sx-12">
        <div class="footer-widget"><h3 class="widget-title">Company</h3>
          <div class="menu-footer-menu-container">
            <ul id="menu-footer-menu" class="menu">
              <li class="m-manage active"><a href="https://shindigspace.herokuapp.com/" title="Home"></i></a></li>
              <li id="menu-item-155" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-155"><a href="http://shindigspace.paperplane.io/#about"><i class="fa fa-caret-right"></i>About</a></li>
              <li id="menu-item-154" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-154"><a href="https://shindigspace.herokuapp.com/search/"><i class="fa fa-caret-right"></i>Venues</a></li>
              <!--<li id="menu-item-156" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-156"><a href="https://shindigspace.herokuapp.com/team/"><i class="fa fa-caret-right"></i>Team</a></li>-->
              <!--<li id="menu-item-157" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-157"><a href="https://shindigspace.herokuapp.com/blog/"><i class="fa fa-caret-right"></i>Blog</a></li>-->
              <li id="menu-item-158" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-158"><a href="https://shindigspace.herokuapp.com/contact-us/"><i class="fa fa-caret-right"></i>Contact Us</a></li>
            </ul>
          </div>
        </div>
      </div>
      
      <!--<div class="col-lg-3 col-md-3 col-sm-4 col-sx-12">-->
      <!--  <div class="footer-widget"><h3 class="widget-title">Company</h3>-->
      <!--    <div class="menu-footer-menu-container">-->
      <!--      <ul id="menu-footer-menu" class="menu">-->
      <!--        <li class="m-manage active"><a href="https://shindigspace.herokuapp.com/" title="Home"></i></a></li>-->
      <!--        <li id="menu-item-154" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-154"><a href="https://shindigspace.herokuapp.com/venues/"><i class="fa fa-caret-right"></i>Venues</a></li>-->
      <!--        <li id="menu-item-155" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-155"><a href="https://shindigspace.herokuapp.com/about/"><i class="fa fa-caret-right"></i>About</a></li>-->
      <!--        <li id="menu-item-156" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-156"><a href="https://shindigspace.herokuapp.com/team/"><i class="fa fa-caret-right"></i>Team</a></li>-->
      <!--        <li id="menu-item-157" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-157"><a href="https://shindigspace.herokuapp.com/blog/"><i class="fa fa-caret-right"></i>Blog</a></li>-->
      <!--        <li id="menu-item-158" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-158"><a href="https://shindigspace.herokuapp.com/contact-us/"><i class="fa fa-caret-right"></i>Contact Us</a></li>-->
      <!--      </ul>-->
      <!--    </div>-->
      <!--  </div>-->
      <!--</div>-->
    </div>
  </div>
</footer>